{{#each blogs}}
  <a
    href="/blogpage/{{this.slug}}/{{this._id}}"
    style="list-style: none; text-decoration:none;"
    class="{{this._id}}"
  >
    <div class="card" id="card-{{this._id}}">
      {{!-- <img src="{{this.img_src}}" alt="" /> --}}
      <img src="{{this.img_src}}" alt="" />
      <div class="blog-cont">
        <span class="short-des-blog time">{{this.date}}</span>
        <h3 class="title-blog title">{{this.title}}
        </h3>
        <p>{{this.content}}</p>
      </div>
    </div>
  </a>
{{/each}}