{{>topNav}}
<div class="main-profile">
    <div class="img-section">
        <img src="{{data.img_src}}" alt="" srcset="" class="user-image">
        <span>Edit</span>
    </div>
    <div class="bio-section">
        <h2>{{data.username}}</h2>
        <p class="p">{{data.bio}}</p>
        <span class="date">Join Date : {{data.datejoin}}</span>
        <h4>Intrested in :</h4>
        <p class="bio-intrest">
            {{#each data.catrgoryIntrested}}
            <span>{{this}}</span>
            {{/each}}
        </p>
    </div>
</div>
{{>socialMedia}}